@import "mixins";

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #222;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
}

#logo {
  fill: #222;
  height: 50px;
  margin: 0 30px 0 10px;
}

form {
  margin: 30px;
  border: solid 1px rgba(#000, 0.1);
  padding: 15px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 30px;
  z-index: 10;
  background: rgba(#fff, 0.95);

  .fieldset {
    display: flex;
    flex-direction: row;
    border-left: solid 1px rgba(#000, 0.05);
    padding-left: 30px;
  }

  p {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    svg {
      position: absolute;
      bottom: 6px;
      right: 8px;
      pointer-events: none;
      width: 18px;
      stroke: rgba(#000, 0.1);
    }
  }

  label {
    margin-bottom: 5px;
  }

  select {
    width: 130px;
    padding: 0 5px;
    height: 30px;
    font-size: 13px;
    background: transparent;
    box-shadow: 0 0 0 1px rgba(#000, 0.1);
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    vertical-align: middle;
    appearance: none;
    border: none;

    &:focus {
      box-shadow: 0 0 0 2px #02858D;
    }
  }

}

#results {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;

  li {
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.35em;
    box-shadow: inset 0 0 0 1px rgba(#000, 0.05);
    transition: all 0.15s;
    position: relative;
    top: 0;

    &:hover {
      top: -3px;
      box-shadow: inset 0 0 0 1px rgba(#000, 0.1), 0 5px 10px rgba(#000, 0.1);
    }
  }

  a {
    display: block;
    color: #333;
    height: 100%;

    &:hover {
      text-decoration: none;

      em {
        background: rgba(#000, 0.15);
      }
    }
  }

  img {
    width: 100%;
    position: relative;
    z-index: -1;
  }

  h3 {
    margin: 5px 10px;
    font-weight: 500;
  }

  section {
    margin: 10px 10px 10px;
  }

  em {
    background: rgba(#000, 0.07);
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 12px;
  }
}